@model VPNET.Data.Model.Productos

@{
    ViewData["Title"] = "VenderProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-top:2rem">VenderProducto</h1>
<hr />
<div class="row col-10">
    <div>
        <form asp-action="VenderProducto" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group">
                    <label  class="control-label">Nombre del Producto</label>
                    <input asp-for="Nombre" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <textarea class="form-control" asp-for="Descripcion" placeholder="Descripcion..." rows="14"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-5">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                </div>
                <div class="form-group col-5">
                    <label asp-for="Stock" class="control-label"></label>
                    <input asp-for="Stock" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Ingresa una Imagen del Producto</label>
                <input asp-for="Foto" class="form-control" />
            </div>
            <div class="form-group" style="margin-top:1rem">
                <input type="submit" value="Publicar Producto" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


